* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-size: 16px;
}

#container {
  width: 90%;
  border: 10px solid purple;
  margin: 20px auto;
  display: flex;
  background-color: purple;
}

#logo {
  width: 400px;
  height: 100%;
  background-color: darkcyan;
  text-align: center;
  margin-right: 10px;
}

#header {
  width: 1500px;
  height: 100px;
  background-color: blue;
  text-align: center;
}
